build
dist
*.egg-info
**/__pycache__/
*.log
**/*.lic
.vscode
.idea
.env
.editorconfig
.DS_Store
**/*.pyc


################## Function Call Leaderboard ##########################

# Ignore inference results
function-call-leaderboard/result/

# Ignore leaderboard score
function-call-leaderboard/score/

# Ignore environment variables
function-call-leaderboard/.env
!function-call-leaderboard/.env.example

# Ignore multi turn ground truth conversation log
function-call-leaderboard/utils/ground_truth_conversation/

.direnv/
.venv

# Ignore the wandb cache:
**/wandb/
